{% extends 'base.html.twig' %}

{% block title %}DataOak index{% endblock %}

{% block body %}
    <div class="container">
    <h1>La liste des sondes </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Date</th>
                <th>Qualité de l'air</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for data_oak in data_oaks %}
            <tr>
                <td>{{ data_oak.id }}</td>
                <td>{{ data_oak.name }}</td>
                <td>{{ data_oak.latitude }}</td>
                <td>{{ data_oak.longitude }}</td>
                <td>{{ data_oak.TimeStamp| date("d/m/Y") }}</td>
                <td>{{ data_oak.QualiteAir }}</td>
                <td>
                    <a href="{{ path('data_oak_show', {'id': data_oak.id}) }}">Afficher</a>
                    <a href="{{ path('data_oak_edit', {'id': data_oak.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('data_oak_new') }}">Ajouter une sonde  ?</a>
    </div>
{% endblock %}
