{% extends 'base.html.twig' %}

{% block title %}Historique index{% endblock %}

{% block body %}
    <h1>Historique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Qualite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for historique in historiques %}
            <tr>
                <td>{{ historique.id }}</td>
                <td>{{ historique.Date ? historique.Date|date('Y-m-d') : '' }}</td>
                <td>{{ historique.Qualite }}</td>
                <td>
                    <a href="{{ path('historique_show', {'id': historique.id}) }}">show</a>
                    <a href="{{ path('historique_edit', {'id': historique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('historique_new') }}">Create new</a>
{% endblock %}
