{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <h1>Historique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ historique.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ historique.Date ? historique.Date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Qualite</th>
                <td>{{ historique.Qualite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('historique_index') }}">back to list</a>

    <a href="{{ path('historique_edit', {'id': historique.id}) }}">edit</a>

    {{ include('historique/_delete_form.html.twig') }}
{% endblock %}
